$font-size: 14px;
$font-stack-alpha: "Nunito";

:root{
    --gutter-half: 4px;
    --gutter: 8px;
    --gutter-2: 16px;
    --gutter-3: 24px;
    --gutter-4: 32px;
    --gutter-5: 40px;

    --font-color-primary: #707070;
    --font-color-secondary: #B9B9B9;

    --alpha-color: #94C122;
    --beta-color: #B9B9B9;

    --background-color: #FCFCFC;

    --border-radius: 30px;
}